*::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    background: #292A2B !important;
    border: none !important;
}
*::-webkit-scrollbar-button {
    display: none !important;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track {
    border: 0 !important;
    box-shadow: none !important;
}
*::-webkit-scrollbar-thumb {
    min-height: 28px !important;
    background: #686a6c !important;
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
    background: #292A2B !important;
}

html * {
	color-profile: sRGB !important;
	rendering-intent: auto !important;
}
#launcher {
	display: none !important;
}
.modal .modal-dialog {
  margin: 0 !important;
  width: auto !important;
}
.modal .modal-dialog .modal-content {
  background-color: #2ecc71 !important;
  border: none !important;
  border-radius: 0 !important;
}
.modal .modal-dialog .modal-content .modal-body {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.modal .modal-dialog .modal-content .modal-body div {
  width: 100% !important;
}
.modal .modal-dialog .modal-content .modal-body div h1 {
  margin: 0 !important;
}
.modal .modal-dialog .modal-content .modal-body div p {
  display: none !important;
}
.modal .modal-dialog .modal-content .modal-body .btn {
  background-color: #2ecc71 !important;
  border: 1px solid #fff !important;
}
.btn-group.panel-toggles .btn {
	border: none !important;
	background-color: #48555f !important;
	margin-right: 10px !important;
	border-radius: 13px !important;
}
.btn-group.panel-toggles .btn.active {
	border: none !important;
	background-color: #2196f3 !important;
}
.code-panel,
.code-panel .panel-heading {
	background-color: #292A2B !important;
	color: rgba(255, 255, 255, 0.54) !important;
}
.panel .panel-heading h1 {
	font-size: 10px !important;
	letter-spacing: 2px !important;
	text-transform: uppercase !important;
}
.code-panel .panel-heading + div {
	height: calc(100% - 26px) !important;
}
.code-panel .panel-body {
	position: relative;
}
.code-panel .panel-body .inherited {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.code-panel .panel-body .inherited .message {
	width: 60%;
	height: auto;
	line-height: 1.5;
	margin: 0 auto;
	margin-bottom: 20px;
	font-size: 25px;
}
.code-panel .panel-body .inherited .link-button {
	background-color: #2196f3;
	color: #fff;
	padding: 10px 20px;
	border-radius: 17px;
	font-size: 12px;
}
.code-panel .panel-body .inherited .link-button:hover {
	text-decoration: none;
	background-color: #1c7cc8;
}
.CodeMirror {
	background-color: #292A2B !important;
	color: #839496 !important;
}
.box,
.editor .top-boxes,
.CodeMirror-gutter-wrapper,
body.project .editor-pane,
body.project .editor {
	background: #292A2B !important;
}
.CodeMirror-cursor {
	border-left-color: #ffffff !important;
}
.CodeMirror-gutters .CodeMirror-linenumbers,
.CodeMirror-gutters .CodeMirror-foldgutter {
	background-color: #292A2B !important;
}
.CodeMirror-gutters {
	border-right: 1px solid #585a5c;
}
.CodeMirror-simplescroll-vertical,
.CodeMirror-simplescroll-horizontal,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
	background-color: #292A2B !important;
}
.CodeMirror-simplescroll-vertical div,
.CodeMirror-simplescroll-horizontal div {
	background-color: #686a6c !important;
	border: none !important;
	border-radius: 4px !important;
}
.CodeMirror pre,
.box pre,
.editor .top-boxes pre,
.CodeMirror-gutter-wrapper pre {
	color: #E6E6E6 !important;
}
.cm-keyword {
	color: #FF75B5 !important;
}
.cm-atom {
	color: #ff2c6d !important;
}
.box-html .cm-atom {
	color: #ff2c6d !important;
}
.cm-def {
	color: #e6e6e6 !important;
}
.cm-variable {
	color: #ffb86c !important;
}
.cm-variable-2 {
	color: #ff9ac1 !important;
}
.cm-variable-3 {
	color: #ff9ac1 !important;
}
.cm-header {
	color: #E6E6E6 !important;
}
.cm-number {
	color: #FFB86C !important;
}
.cm-property {
	color: #f3f3f3 !important;
}
.cm-attribute {
	color: #ffb86c !important;
}
.cm-builtin {
	color: #E6E6E6 !important;
}
.cm-qualifier {
	color: #E6E6E6 !important;
}
.cm-operator {
	color: #f3f3f3 !important;
}
.cm-meta {
	color: #b084eb !important;
}
.cm-string {
	color: #19F9D8 !important;
}
.cm-string-2 {
	color: #FFB86C !important;
}
.cm-tag {
	color: #ff2c6d !important;
}
.box-css .cm-tag {
	color: #ff2c6d !important;
}
.cm-tag.cm-bracket {
	color: #ff2c6d !important;
}
.CodeMirror-linenumber {
	color: #949496 !important;
}
.CodeMirror-guttermarker-subtle {
	color: #949496 !important;
}
.cm-comment {
	color: #676B79 !important;
}
.cm-searching,
.CodeMirror-focused .CodeMirror-selected,
.CodeMirror-selected {
	background-color: #464B4E !important;
}
.CodeMirror-activeline-background {
	background: #4C6A72 !important;
}
.header.blue-bar {
	height:0 !important;
}
.sidebar {
	width:0 !important;
}
.sidebar-container {
	width:0 !important;
	display:none !important;
}
.mini-brand {
	left:0 !important;
	z-index:99;
}
.header-right {
	width:110px !important;
}
.header-right>li {
	display:none !important;
}
.header-right>li.user-dropdown.dropdown {
	display:block !important;
}
.header-left,
.sidebar-toggle,
.full-brand,
.header-right .z-publish,
.header-right .zicon-nav-adduser,
.header-right .zicon-nav-notification,
.header-right .zicon-nav-help,
.header-right .z-package {
	width:0 !important;
	height:0 !important;
	display:none !important;
}
.header-right .user-dropdown.open .dropdown-toggle {
	background-color: #363738 !important;
}
.header-right .user-dropdown .dropdown-menu li a {
	color: #f3f3f3 !important;
}
.header-right .user-dropdown .dropdown-menu .divider {
	background-color: #5b5d5f !important;
}
.zoomph-master .header {
	z-index: 9;
	left:0 !important;
}
.zoomph-master .content {
	top: 0 !important;
	margin-left: 0 !important;
}
body,
.data-panel,
.data-panel>.panel-heading,
.row.actions,
.main-panel,
.main-panel>.panel-heading,
.modal-content,
.modal-content>.modal-header,
.dropdown-menu {
	background-color: #292A2B !important;
  color: #f3f3f3 !important;
}
.row.actions {
	padding: 11px 36px 7px 36px !important;
}
.row.actions>.text-right {
	padding-top:5px;
}
.row.actions>.text-right:last-child {
	padding: 0 !important;
}
.row.actions>.text-right:last-child .btn {
	margin-left: 10px;
	border-radius: 13px !important;
}
.row.actions>.text-right:last-child .btn-default {
	border: none !important;
	background-color: rgba(255, 255, 255, 0.1) !important;
	color: #fff;
}
.row.actions>.text-right:last-child .btn-default:hover {
	background-color: rgba(33, 150, 243, 0.54) !important;
}
.panel-group>.panel,
.panel-group .panel-heading{
	background-color: #676B79 !important;
    color: #f3f3f3 !important;
}
